!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    :javascript
      !window.pullentity_domain ? window.pullentity_domain = "http://#{site_name}.pullentity.com" : null

    = partial("views/shared/head")

  = partial "views/shared/js"
  = partial "views/shared/css"

  %body

    = partial("views/shared/body")

    = yield_content(:principal)


